@import 'variables.scss';

.btn {
  padding: $padding $padding * 2;
  background: $blue-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $blue-bg-hover;
  }
}

.span {
  padding: $padding $padding ;
  background: $blue-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $blue-bg-hover;
  }
}

.btn_remove {
  padding: $padding $padding * 2;
  background: $red-bg;
  color: #ffffff;
  border: 0;
  border-radius: $radius;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $red-bg-hover;
  }
}

.links {
  position: absolute;
  top: 10px;
  color: #ffffff;
  padding: $padding*2;
  border: solid 1px #aeaeae;
  background: $blue-bg;
  cursor: pointer;

  &:hover {
    background: $blue-bg-hover;
  }
}

.forms {
  position: absolute;
  right: 39%;
  width: 20%;
  padding: 20px;
}

.info_bg {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: $padding * 2 $padding * 3;
  display: flex;
  justify-content: center;
  background: $blue-bg;
  color: #ffffff;
  font-size: 20px;
}

.info_text {
  margin-right: $margin * 2;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: $blue-bg;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: $blue-bg-hover;
}